<template>
  <div class="app__image">
    <img v-if="isDay" src="../assets/day.svg" alt="" />
    <img v-else src="../assets/night.svg" alt="" />
  </div>
</template>

<script>
export default {
  name: 'Banner',
  props: ['sunset', 'sunrise'],
  computed: {
    isDay() {
      const date = new Date();
      if (date.getTime() < this.sunset.getTime() && date.getTime() > this.sunrise.getTime()) {
        return true;
      } else {
        return false;
      }
    }
  }
};
</script>
