<template>
  <div v-if="!loading" class="current-weather">
    <div class="current-weather__item weather">
      <img :src="`https://www.weatherbit.io/static/img/icons/${icon}.png`" alt="" />
      {{ currentWeather.weather.description }}
    </div>
    <div class="current-weather__item temp">{{ Math.floor(currentWeather.temp) }}<sup>°C</sup></div>
    <div class="current-weather__item">
      <img src="../assets/humidity.svg" alt="" />
      <p>{{ Math.floor(currentWeather.rh) }}%</p>
      <span>Humidity</span>
    </div>
    <div class="current-weather__item">
      <img src="../assets/barometer.svg" alt="" />
      <p>{{ Math.floor(currentWeather.pres / 1.333) }}mmHg</p>
      <span>Pressure</span>
    </div>
    <div class="current-weather__item">
      <img src="../assets/wind.svg" alt="" />
      <p>{{ currentWeather.wind_spd.toFixed(1) }} m/s</p>
      <span>Wind</span>
    </div>
    <div class="current-weather__item">
      <img src="../assets/sunrise.svg" alt="" />
      <p>{{ sunrise | date }}</p>
      <span>Sunrise</span>
    </div>
    <div class="current-weather__item">
      <img src="../assets/sunset.svg" alt="" />
      <p>{{ sunset | date }}</p>
      <span>Sunset</span>
    </div>
    <div class="current-weather__item">
      <img src="../assets/rooster.svg" alt="" />
      <p style="text-transform: capitalize;">{{ currentWeather.wind_cdir_full }}</p>
      <span>Wind direction</span>
    </div>
  </div>
</template>

<script>
export default {
  name: 'CurrentWeather',
  props: ['currentWeather', 'loading', 'sunset', 'sunrise'],
  computed: {
    icon() {
      return this.currentWeather.weather.icon;
    }
  }
};
</script>
