<template>
  <VueSlickCarousel :arrows="false" :dots="true" :slidesToShow="3" :autoplay="true" :autoplaySpeed="5000">
    <div v-for="(item, i) in items" :key="i">
      <div class="forecast__item">
        <img
          :src="`https://www.weatherbit.io/static/img/icons/${item.weather.icon}.png`"
          class="forecast__icon"
          alt=""
        />
        <div class="date">
          {{ date(item.ts * 1000) }}
        </div>
        <div class="temp">{{ Math.floor(item.temp) }}°C</div>
      </div>
    </div>
  </VueSlickCarousel>
</template>

<script>
import VueSlickCarousel from 'vue-slick-carousel';
export default {
  name: 'Forecast',
  props: ['forecast'],
  computed: {
    items() {
      return this.forecast.slice(1, 8);
    }
  },
  methods: {
    date(timestamp) {
      const date = new Date(timestamp);
      const weekday = new Array(7);
      weekday[0] = 'Sunday';
      weekday[1] = 'Monday';
      weekday[2] = 'Tuesday';
      weekday[3] = 'Wednesday';
      weekday[4] = 'Thursday';
      weekday[5] = 'Friday';
      weekday[6] = 'Saturday';
      return weekday[date.getDay()] + ', ' + ('00' + (date.getUTCDate() + 1)).slice(-2);
    }
  },
  components: { VueSlickCarousel }
};
</script>
