<template>
  <div class="app__geolocation-banned">
    <img src="../assets/sad.svg" alt="" />
    Sorry you have banned the receipt of geolocation
  </div>
</template>

<script>
export default {
  name: 'GeolocationBanned'
};
</script>
