<template>
  <div class="app__header">
    <div class="date">
      {{ dateConvert }}
    </div>
    <div class="location">
      <span>{{ city }}</span>
      <img src="../assets/location.svg" alt="" />
    </div>
  </div>
</template>

<script>
export default {
  name: 'Header',
  computed: {
    dateConvert() {
      const date = new Date();
      const newDate =
        ('00' + (date.getUTCDate() + 1)).slice(-2) +
        '.' +
        ('00' + (date.getUTCMonth() + 1)).slice(-2) +
        '.' +
        date.getUTCFullYear() +
        ' | ' +
        ('00' + date.getHours()).slice(-2) +
        ':' +
        ('00' + (date.getMinutes() + 1)).slice(-2);
      return newDate;
    }
  },
  props: ['city']
};
</script>
