<template>
  <div class="loader">
    <div class="loadingio-spinner-spin-q2cqsb1t2t">
      <div class="ldio-9k3v8t2nx5i">
        <div><div></div></div>
        <div><div></div></div>
        <div><div></div></div>
        <div><div></div></div>
        <div><div></div></div>
        <div><div></div></div>
        <div><div></div></div>
        <div><div></div></div>
      </div>
    </div>
    <span v-if="isGetWeather">Getting weather...</span>
    <span v-else>Getting geolocation...</span>
  </div>
</template>

<script>
export default {
  name: 'Loader',
  props: ['isGetWeather']
};
</script>
