:root {
  --color-main: #444;
  --color-gray: #999;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  font-family: 'Barlow', sans-serif;
  line-height: 1.3;
  font-size: 16px;
  font-weight: 500;
  background-color: #e5e5e5;
  color: var(--color-main);
  overflow-x: hidden;
}
.app {
  width: 100%;
  max-width: 400px;
  margin: auto;
  min-height: 100vh;
  height: 100%;
  background: #fff;
  position: relative;
}
.app__image {
  height: 300px;
}
.app__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}
.app__content {
  background: #fff;
  height: calc(100% - 300px);
  position: relative;
  z-index: 1;
  box-shadow: 0px -16px 20px rgba(0, 0, 0, 0.1);
  padding-bottom: 40px;
}
.app__content::after {
  position: absolute;
  height: 45px;
  width: 100%;
  background: #fff;
  border-radius: 25px 25px 0 0;
  top: -45px;
  left: 0;
  content: '';
}
.app__header {
  height: 45px;
  line-height: 45px;
  position: absolute;
  left: 0;
  top: -45px;
  z-index: 2;
  display: flex;
  width: 100%;
  font-size: 14px;
}
.app__header .date {
  color: var(--color-gray);
  font-weight: 300;
  width: 55%;
  text-align: center;
}
.app__header .location {
  background: #ecf8fe;
  width: 45%;
  border-radius: 0 25px 0 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0da0ea;
}
.app__header .location img {
  margin-left: 5px;
}
.current-weather {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.current-weather__item {
  text-align: center;
  width: 33.333%;
  margin-top: 40px;
  padding: 0 5px;
}
.current-weather__item img {
  margin-bottom: 10px;
  width: 24px;
  height: 24px;
}
.current-weather__item p {
  line-height: 1;
}
.current-weather__item span {
  font-size: 10px;
  color: var(--color-gray);
}
.current-weather__item.weather {
  font-size: 15px;
  color: #000;
}
.current-weather__item.temp,
.current-weather__item.weather {
  width: 50%;
}
.current-weather__item.weather img {
  width: 60px;
  height: auto;
  margin-bottom: 0;
}
.current-weather__item.temp {
  font-size: 45px;
  font-weight: 300;
  color: #000;
  position: relative;
  line-height: 1;
  max-width: 85px;
  text-align: left;
  margin: 40px auto 0;
}
.current-weather__item.temp sup {
  color: #666;
  font-size: 20px;
  top: 0px;
  right: 0;
  font-weight: 500;
  position: absolute;
  top: 0;
}
.current-weather__item.weather img {
  width: 60px;
  display: block;
  margin: 0 auto 5px;
}
.current-weather__item.temp-max-min p img {
  margin-left: 5px;
  margin-bottom: 0;
  width: auto;
  height: auto;
}
.slick-slider {
  margin-bottom: 0 !important;
}
.slick-list {
  padding: 2.4rem 0px 1.8rem !important;
}
.slick-dots {
  bottom: 0;
}
.slick-dots li {
  width: 10px;
  height: 10px;
}
.slick-dots li button:before {
  display: none;
}
.slick-dots li button {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: #d8d8d8;
  transition: 0.3s all ease-in-out;
}
.slick-dots li.slick-active button {
  background: #0d9fea;
}
.forecast__item {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 14px;
  border-radius: 20px;
  max-width: 85%;
  margin: auto;
  background: rgb(255, 255, 255);
}
.forecast__icon {
  height: 60px;
  width: 60px;
  display: block;
  margin: auto;
}
.forecast__item {
  text-align: center;
  padding: 5px 0 10px;
}
.forecast__item .date {
  margin: 4px 0;
  font-size: 14px;
}
.forecast__item .temp {
  font-size: 12px;
  color: var(--color-gray);
}
.app__geolocation-banned {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  background-color: #e5e5e5;
  font-weight: 300;
  font-size: 20px;
  text-align: center;
  padding: 0 15px;
}
.app__geolocation-banned img {
  width: 80px;
  height: 80px;
  display: block;
  margin-bottom: 15px;
}
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  z-index: 20;
  color: #0da0ea;
  font-size: 20px;
  font-weight: 300;
}

@keyframes ldio-9k3v8t2nx5i {
  0% {
    opacity: 1;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1.5, 1.5);
  }

  100% {
    opacity: 0;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1, 1);
  }
}

.ldio-9k3v8t2nx5i div > div {
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #0da0ea;
  animation: ldio-9k3v8t2nx5i 1s linear infinite;
}

.ldio-9k3v8t2nx5i div:nth-child(1) > div {
  left: 74px;
  top: 44px;
  animation-delay: -0.875s;
}

.ldio-9k3v8t2nx5i > div:nth-child(1) {
  transform: rotate(0deg);
  transform-origin: 80px 50px;
}

.ldio-9k3v8t2nx5i div:nth-child(2) > div {
  left: 65px;
  top: 65px;
  animation-delay: -0.75s;
}

.ldio-9k3v8t2nx5i > div:nth-child(2) {
  transform: rotate(45deg);
  transform-origin: 71px 71px;
}

.ldio-9k3v8t2nx5i div:nth-child(3) > div {
  left: 44px;
  top: 74px;
  animation-delay: -0.625s;
}

.ldio-9k3v8t2nx5i > div:nth-child(3) {
  transform: rotate(90deg);
  transform-origin: 50px 80px;
}

.ldio-9k3v8t2nx5i div:nth-child(4) > div {
  left: 23px;
  top: 65px;
  animation-delay: -0.5s;
}

.ldio-9k3v8t2nx5i > div:nth-child(4) {
  transform: rotate(135deg);
  transform-origin: 29px 71px;
}

.ldio-9k3v8t2nx5i div:nth-child(5) > div {
  left: 14px;
  top: 44px;
  animation-delay: -0.375s;
}

.ldio-9k3v8t2nx5i > div:nth-child(5) {
  transform: rotate(180deg);
  transform-origin: 20px 50px;
}

.ldio-9k3v8t2nx5i div:nth-child(6) > div {
  left: 23px;
  top: 23px;
  animation-delay: -0.25s;
}

.ldio-9k3v8t2nx5i > div:nth-child(6) {
  transform: rotate(225deg);
  transform-origin: 29px 29px;
}

.ldio-9k3v8t2nx5i div:nth-child(7) > div {
  left: 44px;
  top: 14px;
  animation-delay: -0.125s;
}

.ldio-9k3v8t2nx5i > div:nth-child(7) {
  transform: rotate(270deg);
  transform-origin: 50px 20px;
}

.ldio-9k3v8t2nx5i div:nth-child(8) > div {
  left: 65px;
  top: 23px;
  animation-delay: 0s;
}

.ldio-9k3v8t2nx5i > div:nth-child(8) {
  transform: rotate(315deg);
  transform-origin: 71px 29px;
}

.loadingio-spinner-spin-q2cqsb1t2t {
  width: 100px;
  height: 100px;
  display: inline-block;
  overflow: hidden;
  background: none;
}

.ldio-9k3v8t2nx5i {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
}

.ldio-9k3v8t2nx5i div {
  box-sizing: content-box;
}

@media (max-width: 370px) {
  .app__header .date {
    font-size: 12px;
  }
  .app__header .location {
    font-size: 14px;
  }
  .current-weather__item.temp sup {
    right: -3px;
  }
}
