<template>
  <div v-if="!coordinatesError && coordinates" class="app">
    <div>
      <Banner :sunset="sunset" :sunrise="sunrise" />
      <div class="app__content" v-if="!loading">
        <Header v-if="currentWeather" :city="currentWeather.city_name" />
        <CurrentWeather :sunset="sunset" :sunrise="sunrise" :currentWeather="currentWeather" />
        <Forecast :forecast="forecast" v-if="forecast" />
      </div>
      <Loader v-else :isGetWeather="true" />
    </div>
  </div>
  <Loader v-else-if="!coordinatesError && !coordinates" />
  <GeolocationBanned v-else />
</template>

<script>
import Loader from '@/components/Loader';
import Banner from '@/components/Banner';
import CurrentWeather from '@/components/CurrentWeather';
import Forecast from '@/components/Forecast';
import Header from '@/components/Header';
import GeolocationBanned from '@/components/GeolocationBanned';
import { mapGetters } from 'vuex';
import { getSunset, getSunrise } from 'sunrise-sunset-js';

export default {
  name: 'App',
  data: () => ({
    coordinates: null,
    coordinatesError: null,
    sunset: '',
    sunrise: ''
  }),
  computed: {
    ...mapGetters(['loading', 'error', 'currentWeather', 'forecast'])
  },
  mounted() {
    navigator.geolocation.getCurrentPosition(
      async pos => {
        this.coordinates = pos.coords;
        this.sunset = getSunset(pos.coords.latitude, pos.coords.longitude);
        this.sunrise = getSunrise(pos.coords.latitude, pos.coords.longitude);
        await this.$store.dispatch('fetchCurrentWeather', pos.coords);
        await this.$store.dispatch('fetchForecast', pos.coords);
      },
      err => {
        this.coordinatesError = err.code;
      },
      {
        enableHighAccuracy: true,
        timeout: 10000,
        maximumAge: 0
      }
    );
  },
  components: {
    Loader,
    Banner,
    CurrentWeather,
    Forecast,
    Header,
    GeolocationBanned
  }
};
</script>
